{% extends 'base.html' %}
{% block title %}Presence House | Gallery{% endblock %}
{% block content %}
<main class="full-gallery gallery2-full" data-slider>
  <div class="slider-window gallery-window">
    <div class="slider-track" data-slider-track>
      <article class="slide" data-slide><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981674/09dd7bc6-e878-4a03-a7d8-320d658a79c4_nlvdzb.png" alt="Presence House exterior facade"></article>
      <article class="slide" data-slide><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981410/1d71bdc2-b742-4cda-a2d1-bfddb2dd18bd_kixui9.png" alt="Presence House quiet lounge"></article>
      <article class="slide" data-slide><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981410/76a2d89a-0850-448d-b897-402e553789d9_cqjjgg.png" alt="Presence House social commons"></article>
      <article class="slide" data-slide><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981547/ChatGPT_Image_May_16_2026_06_32_10_PM_wxukpw.png" alt="Presence House cafe and bar"></article>
    </div>
  </div>
</main>
{% endblock %}
