{% extends 'base.html' %}
{% block title %}Presence House | Gallery{% endblock %}
{% block content %}
<main class="shell gallery-page">
  <section class="gallery-hero">
    <h1>Presence House Gallery</h1>
    <p>A visual preview of the mood, materials, and moments we are building toward.</p>
    <a class="btn" href="http://spot.fund/j2brwjqsc" target="_blank" rel="noopener noreferrer">Support the $250,000 Campaign</a>
  </section>
  <section class="masonry">
    <figure class="tile img"><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981410/1d71bdc2-b742-4cda-a2d1-bfddb2dd18bd_kixui9.png" alt="Presence House quiet lounge concept render"><figcaption>Quiet Lounge</figcaption></figure>
    <figure class="tile img"><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981410/76a2d89a-0850-448d-b897-402e553789d9_cqjjgg.png" alt="Presence House social commons concept render"><figcaption>Social Commons</figcaption></figure>
    <figure class="tile img"><img src="https://res.cloudinary.com/dapxfxumu/image/upload/v1778981547/ChatGPT_Image_May_16_2026_06_32_10_PM_wxukpw.png" alt="Presence House cafe and bar concept render"><figcaption>Café & Bar</figcaption></figure>
    <figure class="tile t4"><figcaption>Analog Creative Hour</figcaption></figure>
    <figure class="tile t5"><figcaption>Community Dinner</figcaption></figure>
    <figure class="tile t6"><figcaption>Outdoor Space</figcaption></figure>
  </section>
</main>
{% endblock %}
